params {
    input_reads_folder = null
    sra_id             = null

    reference          = null
    threads            = 20
    outdir             = 'results'
    save_mpileup       = false

    local_conda_env    = null
}

process {
    withLabel: 'process_low' {
        cpus   = 2
        memory = '4 GB'
        time   = '1 h'
    }
    withLabel: 'process_medium' {
        cpus   = 8
        memory = '16 GB'
        time   = '4 h'
    }
    withLabel: 'process_high' {
        cpus   = 20
        memory = '64 GB'
        time   = '12 h'
    }

    withName: 'download_reads' {
        container = 'egoncharov/sra-tools:3.0.10'
    }
    withName: 'run_qc' {
        container = 'egoncharov/fastqc:0.12.1'
    }
    withName: 'trimm' {
        container = 'egoncharov/trimmomatic:0.39'
    }
    withName: 'assemble' {
        container = 'egoncharov/spades:3.15.5'
    }
    withName: 'map_reads|calculate_depth' {
        container = 'egoncharov/bowtie2-samtools:2.5.1'
    }
    withName: 'plot_coverage' {
        container = 'egoncharov/matplotlib:3.8'
    }
    withName: 'BCFTOOLS_MPILEUP' {
        container = 'biocontainers/bcftools:1.18--h8b25389_0'
    }

    errorStrategy = { task.exitStatus in [137, 143, 139, 104, 134] ? 'retry' : 'finish' }
    maxRetries    = 2
}

profiles {

    local {
        process {
            executor = 'local'

            withName: 'download_reads' {
                conda  = '/home/egoncharov/miniforge3/envs/tools'
                cpus   = 8
                memory = '16 GB'
            }
            withName: 'run_qc' {
                conda  = '/home/egoncharov/miniforge3/envs/fastqc'
                cpus   = 8
                memory = '16 GB'
            }
            withName: 'trimm' {
                conda  = '/home/egoncharov/miniforge3/envs/trimmomatic'
                cpus   = 8
                memory = '16 GB'
            }
            withName: 'assemble' {
                conda  = '/home/egoncharov/miniforge3/envs/spades'
                cpus   = 20
                memory = '32 GB'
            }
            withName: 'map_reads|calculate_depth' {
                conda  = '/home/egoncharov/miniforge3/envs/bowtie2'
                cpus   = 20
                memory = '32 GB'
            }
            withName: 'plot_coverage' {
                conda  = '/home/egoncharov/miniforge3/envs/python'
                cpus   = 2
                memory = '8 GB'
            }
            withName: 'BCFTOOLS_MPILEUP' {
                conda  = '/home/egoncharov/miniforge3/envs/tools'  // bcftools is in tools
                cpus   = 8
                memory = '16 GB'
            }
        }
        conda.enabled = true
    }

    cluster {
        process {
            executor = 'slurm'
            queue    = 'main'

            withName: 'download_reads' {
                conda          = "${projectDir}/envs/sra-tools.yml"
                cpus           = 8
                memory         = '16 GB'
                time           = '6 h'
                clusterOptions = '--partition=download'
            }
            withName: 'run_qc' {
                conda  = "${projectDir}/envs/fastqc.yml"
                cpus   = 4
                memory = '8 GB'
                time   = '2 h'
            }
            withName: 'trimm' {
                conda  = "${projectDir}/envs/trimmomatic.yml"
                cpus   = 16
                memory = '32 GB'
                time   = '6 h'
            }
            withName: 'assemble' {
                conda          = "${projectDir}/envs/spades.yml"
                cpus           = 32
                memory         = '128 GB'
                time           = '24 h'
                clusterOptions = '--partition=highmem'
            }
            withName: 'map_reads|calculate_depth' {
                conda  = "${projectDir}/envs/bowtie2-samtools.yml"
                cpus   = 32
                memory = '64 GB'
                time   = '12 h'
            }
            withName: 'plot_coverage' {
                conda  = "${projectDir}/envs/python-plotting.yml"
                cpus   = 2
                memory = '8 GB'
                time   = '1 h'
            }
            withName: 'BCFTOOLS_MPILEUP' {
                conda  = "${projectDir}/modules/nf-core/bcftools/mpileup/environment.yml"
                cpus   = 16
                memory = '32 GB'
                time   = '8 h'
            }
        }
        conda.enabled = true
    }

    container {
        docker {
            enabled    = true
        }
        singularity {
            enabled    = false
            autoMounts = true
            cacheDir   = "${HOME}/.singularity_cache"
        }

        process {
            withLabel: 'process_low' {
                cpus   = 2
                memory = '4 GB'
                time   = '1 h'
            }
            withLabel: 'process_medium' {
                cpus   = 8
                memory = '16 GB'
                time   = '4 h'
            }
            withLabel: 'process_high' {
                cpus   = 20
                memory = '64 GB'
                time   = '12 h'
            }
        }
    }
}

manifest {
    name            = 'hw3-variant-pipeline'
    author          = 'egoncharov'
    description     = 'QC → trim → assemble/map → variant calling pipeline'
    version         = '1.0.0'
    nextflowVersion = '>=23.10.0'
}

